.Title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: linear-gradient(270deg, rgba(101,62,178,1) 0%, rgba(143,85,204,1) 34%, rgba(242,133,133,1) 100%) border-box;
    color: #FFFFFF;
    border-radius: 0.5rem;
    margin-bottom: 25px;
}